
<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <title>1カラム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="3column_plus.css">
</head>

<body>


  <div class="wrap">
    <header class="header">ロゴ画像</header>

    <div class="item-box">
      <ul>
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li><a href="#">item4</a></li>
        <li><a href="#">item5</a></li>
        <li><a href="#">item6</a></li>
        <li><a href="#">item7</a></li>
        <li><a href="#">item8</a></li>
        <li><a href="#">item9</a></li>
        <li><a href="#">item10</a></li>
      </ul>



    </div>

    <main class="main-wrapper">

      <div class="main">

        <div class="main-list">
          <ul>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>

      </div>

      <div class="main2">

        <p>サブタイトル</p>

        <div class="main2-list">
          <ul>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>

          </ul>
        </div>

      </div>

      <div class="main3">

        <p>サブタイトル</p>

        <div class="main3-list">
          <ul>
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>

          </ul>
        </div>

      </div>

    </main>

    <div class="baner">バナー画像</div>


    <p class="copyright">Copyright(C) 2018 テキストテキストテキストテキストテキストテキストテキスト</p>



</body>

</html>
